body{
     margin: 0;
     padding: 1%;
     background-color: #150538;
     background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
     display: flex;
     flex-direction: column;
     align-items: center;
}
*{
     font-family: 'Sansita', sans-serif;
     color: rgb(255, 254, 246);
}
h1{
     font-size: 3em;
     margin: 0 0 1% 0;
     text-align: center;
     text-shadow: 5px 5px 5px black;
}
#descripcion{
     font-size: 1.5em;
     text-align: center;
     margin: 0;
}
#contador-de-intentos{
     font-size: 1.3em;
     word-spacing: 0.3em;
     color: rgb(156, 253, 0);
     font-weight: bold;
}
#intentos{
     font-size: 1.35em;
     color: rgb(188, 252, 85);
}
.imagesContainer{
     width: 95%;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
     gap: 0.5em;
}
.imageBlock{
     background-image: url('./images/box.png');
     background-size: cover;
     padding: 2%;
}
.hidden{
     opacity: 0;
}
.no-hidden{
     opacity: 1;
}
.image{
     width: 100%;
     user-select: none;
     border-radius: 10px;
}
.very-hidden{
     visibility: hidden;
}
.show{
     visibility: visible;
}
#finalResult{
     margin: 0;
     position: absolute;
     width: 100%;
     height: 98%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: rgba(0, 0, 0, 0.616);
}
#finalImage{
     height: 60%;
     width: auto;
     border-style: outset;
     border-width: 15px;
     border-radius: 10px;
     border-color: rgb(117, 7, 7);
}
#finalText{
     min-width: 40%;
     font-size: 3em;
     background-color: rgba(0, 0, 0, 0.801);
     border-radius: 20px;
     text-shadow: 5px 5px 5px black;
     margin: 1%;
     padding: 1%;
     text-align: center;
     color: burlywood;
}
#restartButton{
     padding: 1%;
     border-radius: 5px;
     background-color: rgb(10, 10, 133);
     font-size: 1.5em;
     border-style: inset;
     border-color: brown;
     border-width: 3px;
     margin: 1%;
}
#restartButton:hover{
     cursor: pointer;
     background-color: rgb(75, 230, 70);
     color: rgb(20, 0, 0);
     border-color: rgb(95, 12, 12);
     transition: all 0.4s ease 0s;
}
@media (max-width: 800px){
     .imagesContainer{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
     }
     #finalImage{
          width: 80%;
          height: auto;
     }
}